### Entropy and Gain Function

In [1]:
import pandas as pd
import numpy as np
import math

In [ ]:
path = input("Enter csv path location: ")

In [5]:
df = pd.read_csv(path)

In [6]:
# df['Department'] = ["Sales","Sales","Sales","Systems","Systems","Systems",
#                  "Systems","Marketing","Marketing","Marketing","Marketing",
#                  "Marketing"]
# df['Age'] = ["31-40","21-30","31-40","21-30","31-40","21-30","41-50","31-40",
#            "31-40","41-50","21-30","21-30"]
# df['Salary'] = ["Medium","Low","Low","Medium","High","Medium","High","Medium",
#               "Medium","High","Low","Medium"]
# df['Status'] = ["Senior","Junior","Junior","Junior","Senior","Junior",
#               "Senior","Senior","Junior","Senior","Junior","Junior"]

In [7]:
# df

   Department    Age  Salary  Status
0       Sales  31-40  Medium  Senior
1       Sales  21-30     Low  Junior
2       Sales  31-40     Low  Junior
3     Systems  21-30  Medium  Junior
4     Systems  31-40    High  Senior
5     Systems  21-30  Medium  Junior
6     Systems  41-50    High  Senior
7   Marketing  31-40  Medium  Senior
8   Marketing  31-40  Medium  Junior
9   Marketing  41-50    High  Senior
10  Marketing  21-30     Low  Junior
11  Marketing  21-30  Medium  Junior

In [8]:
def entropy_gain(df):
    
    weighted_entropy = [] # List of weighted column entropies
    n = len(df.iloc[:,0]) # Total number of rows
    target = np.unique(df.iloc[:,-1]) # List of unique classes
    
    # Entropy of parent node
    parent_entropy = df[df.columns[-1]].value_counts()
    P = sum([-x/sum(parent_entropy)*math.log(x/sum(parent_entropy),(2)) for x in parent_entropy if x!=0])
    
    # For each column
    for col in df.columns[0:len(df.columns)-1]:
        col_entropy = []
        nodes = np.unique(df[col])
        
        # Split into nodes and calculate weighted entropy of the nodes
        for node in nodes:
            num_rows=[]
            # For each class
            for targ in target:
                df_new = df[df[col]==node] # Grabbing rows that include the current node
                num_rows.append(len(df_new[df_new[df.columns[-1]]==targ])) # Appending number of rows in target clas
            
            # Calculate entropy for current node
            entropy = [-x/sum(num_rows)*math.log(x/sum(num_rows),(2)) for x in num_rows if x!=0]
            
            col_entropy.append(sum(entropy)*sum(num_rows)/n) # Weighted entropy for current node
        weighted_entropy.append((sum(col_entropy),col)) # Total weighted entropy for current column, column name
        
    # Calculate gain for each column
    gain = []
    for i in range(len(weighted_entropy)):
        gain.append((P-weighted_entropy[i][0],weighted_entropy[i][1]))
        
    print("Root node attribute:\t",sorted(gain)[-1][1])
    
    return ("Entropy:",weighted_entropy,"Gain:",gain)

In [9]:
entropy_gain(df)

Root node attribute:	 Age

('Entropy:',
 [(0.9674700395364009, 'Department'),
  (0.4045627476894453, 'Age'),
  (0.4591479170272448, 'Salary')],
 'Gain:',
 [(0.012398717114751823, 'Department'),
  (0.5753060089617075, 'Age'),
  (0.5207208396239079, 'Salary')])